.transpose-card {
  padding: 8px;
  max-width: fit-content;
  display: inline-block;
  margin-right: 16px;
  margin-bottom: 16px;
}

.transpose-label {
  padding-bottom: 8px;
  text-align: center;
}

.transpose-controls {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

// .transpose-button {

// }

.transpose-value {
  text-align: center;
  min-width: 48px;
  font-weight: bold;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
