.transpose-card {
  padding: 8px;
  max-width: fit-content;
}

.transpose-label {
  padding: 8px 0;
  text-align: center;
}

.transpose-controls {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.transpose-value {
  text-align: center;
  min-width: 48px;
  font-weight: bold;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
