:host {
  display: inline-flex;
}

.transpose-container {
  display: flex;
  padding: 8px;
  position: relative;
}

fieldset {
  display: flex;
  padding: 8px 12px 12px;
  border: 1px solid silver;

  legend {
    font-size: 12px;
  }
}

button {
  padding: 8px;
  min-width: 32px;
  // font-size: 24px;
}

input {
  max-width: 32px;
  text-align: center;
  // font-size: 24px;
}