<div class="chordion-container">
  <div class="chordion-logo">
    Chordion <fluent-badge appearance="accent">Beta</fluent-badge>
  </div>
  <div class="chordion-piano">
    <ui-keyboard></ui-keyboard>
  </div>
  <div class="chordion-board">
    <fluent-tabs activeid="controls">
      <fluent-tab id="controls">Controls</fluent-tab>
      <fluent-tab id="settings">Settings</fluent-tab>
      <fluent-tab-panel id="controls">
        <ui-chord-notes></ui-chord-notes>
        <ui-transpose></ui-transpose>
      </fluent-tab-panel>
      <fluent-tab-panel id="settings">
        <ui-settings></ui-settings>
      </fluent-tab-panel>
    </fluent-tabs>
  </div>
</div>
