<div class="chordion-container">
  <div class="chordion-logo">Chordion</div>
  <div class="chordion-piano">
    <ui-keyboard></ui-keyboard>
  </div>
  <div class="chordion-header">Controls</div>
  <div class="chordion-controls">
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
    <ui-transpose></ui-transpose>
  </div>
</div>
