@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

:host {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.chordion-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chordion-logo {
  padding: 8px;
  font-size: 24px;
  text-align: center;
  color: white;
  background-color: black;
  font-family: "Great Vibes", sans-serif;
}

.chordion-header {
  padding: 8px;
  font-weight: bold;
  color: grey;
  background: #ddd;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}

.chordion-controls {
  overflow-y: auto;
  position: relative;
  flex: 1;
  flex-basis: 0;
}
