:host {
  display: inline-block;
  position: relative;
}

.keyboard-container {
  position: relative;
  display: flex;
  width: 100vw;
  overflow-x: auto;
  border-top: 4px solid black;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  background-color: black;
  height: 154px;
}
