:host {
  display: inline-block;
  position: relative;
}

.key-white {
  display: inline-flex;
  width: 36px;
  height: 104px;
  background-color: white;
  position: relative;
  z-index: 1;
  border-collapse: collapse;
  margin-left: 2px;
  margin-right: 2px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  align-items: flex-end;
  justify-content: center;
  font-size: 12px;
}

.key-white:hover {
  background-color: grey;
  -webkit-tap-highlight-color: transparent;
}

.key-white:active,
.is-active {
  background-color: orange;
  -webkit-tap-highlight-color: transparent;
}

.key-label {
  text-align: center;
  letter-spacing: 2px;
  color: black;
  padding-bottom: 8px;
}
